TESLA_BACKEND_URL=https://tesla.sofiagent.com
TESLA_CLIENT_API_TOKEN=replace_me_server_only
AUTH_SECRET=replace_me
AUTH_TRUST_HOST=true
AUTH_GOOGLE_ID=replace_me
AUTH_GOOGLE_SECRET=replace_me
AUTH_ALLOWED_EMAILS=
NEXTAUTH_URL=http://localhost:3000
